# 2: PANDAS

Pandas are an open source Python package providing fast, flexible, and expressivedata structures designed to make working with “relational” or “labeled” data both easy and intuitive.Pandas are well suited for tabular data with heterogeneously typed columns, as in anSQL table or Excel spread sheet.

In [2]:
import pandas as pd
import numpy as np

Series is a one-dimensional object similar to column in a spreadsheet or SQL table. By default each item will be assigned an index label from 0 to N.
Create a series by passing a list of values, and a custom index label.Note that the labeled index reference for each row and it can have duplicate values.

In [4]:
s = pd.Series([1,2,3,np.nan,5,6], index=['A','B','C','D','E','F'])
print(s)

A    1.0
B    2.0
C    3.0
D    NaN
E    5.0
F    6.0
dtype: float64

It is a two-dimensional object similar to a spreadsheet or an SQL table.Here we are ordering columns and printing particular columns too. We can also print particular row of particular column also.

In [5]:
data = {'Gender': ['F', 'M', 'M'],'Emp_ID': ['E01', 'E02','E03'], 'Age': [25, 27, 25]}
df = pd.DataFrame(data, columns=['Emp_ID','Gender', 'Age'])
print("Table :\n",df) 
print("\nEmployee id :\n",df.Emp_ID) 
print("\nID = ",df.Emp_ID[0])

Table :
   Emp_ID Gender  Age
0    E01      F   25
1    E02      M   27
2    E03      M   25

Employee id :
 0    E01
1    E02
2    E03
Name: Emp_ID, dtype: object

ID =  E01

Here we are reading a csv file mtcars from directory same as where python file is stored. Then we are printing the first two rows of the table using head function.

In [6]:
df1=pd.read_csv('mtcars.csv') 
print(df1.head(2))

           model   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  \
0      Mazda RX4  21.0    6  160.0  110   3.9  2.620  16.46   0   1     4
1  Mazda RX4 Wag  21.0    6  160.0  110   3.9  2.875  17.02   0   1     4

   carb
0     4
1     4

Here we are reading a text file mtcars from directory same as where python file is stored. Here rows are seperated by tab escape character.Then we are printing the first two rows of the table using head function.

In [7]:
df2=pd.read_csv('mtcars.txt', sep='\t') 
print(df2.head(2))

           model   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  \
0      Mazda RX4  21.0    6  160.0  110   3.9  2.620  16.46   0   1     4
1  Mazda RX4 Wag  21.0    6  160.0  110   3.9  2.875  17.02   0   1     4

   carb
0     4
1     4

Here we are reading an excel file mtcars from directory same as where python file is stored. Here we are reading data from only the Sheet2 of excel file.Then we are printing the first two rows of the table using head function.

In [8]:
df3=pd.read_excel('mtcars.xlsx','Sheet2') 
print(df3.head(2))

        model   mpg  cyl   disp   hp  drat    wt  qsec
0  Merc 450SE  16.4    8  275.8  180  3.07  4.07  17.4
1  Merc 450SL  17.3    8  275.8  180  3.07  3.73  17.6

Here we are reading from multiple sheets of same excel file into different data frames and then printing first two rows of these sheets.

In [9]:
sheet1_df = pd.read_excel('mtcars.xlsx', 'Sheet1')
print("Sheet 1:\n",sheet1_df.head(2))
sheet2_df = pd.read_excel('mtcars.xlsx', 'Sheet2')
print("\nSheet 2:\n",sheet2_df.head(2))

Sheet 1:
            model   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  \
0      Mazda RX4  21.0    6  160.0  110   3.9  2.620  16.46   0   1     4
1  Mazda RX4 Wag  21.0    6  160.0  110   3.9  2.875  17.02   0   1     4

   carb
0     4
1     4

Sheet 2:
         model   mpg  cyl   disp   hp  drat    wt  qsec
0  Merc 450SE  16.4    8  275.8  180  3.07  4.07  17.4
1  Merc 450SL  17.3    8  275.8  180  3.07  3.73  17.6

Here we are reading data from sheet 2 of excel file mtcars and then storing this data into new data in mtcars_new text, excel and text files seperately which will be created while executing  them.

In [10]:
df=pd.read_excel('mtcars.xlsx','Sheet2')
df.to_csv('mtcars_new.csv', index=False)
print("CSV file :\n",pd.read_csv('mtcars_new.csv').head(2))
df.to_csv('mtcars_new.txt', sep='\t', index=False)
print("\nText file :\n",pd.read_csv('mtcars_new.txt',sep='\t').head(2))
df.to_excel('mtcars_new.xlsx',sheet_name='Sheet1', index = False)
print("\nExcel file :\n",pd.read_excel('mtcars_new.xlsx','Sheet1').head(2))

CSV file :
         model   mpg  cyl   disp   hp  drat    wt  qsec
0  Merc 450SE  16.4    8  275.8  180  3.07  4.07  17.4
1  Merc 450SL  17.3    8  275.8  180  3.07  3.73  17.6

Text file :
         model   mpg  cyl   disp   hp  drat    wt  qsec
0  Merc 450SE  16.4    8  275.8  180  3.07  4.07  17.4
1  Merc 450SL  17.3    8  275.8  180  3.07  3.73  17.6

Excel file :
         model   mpg  cyl   disp   hp  drat    wt  qsec
0  Merc 450SE  16.4    8  275.8  180  3.07  4.07  17.4
1  Merc 450SL  17.3    8  275.8  180  3.07  3.73  17.6

Here we are reading iris csv file and printing basic statistical operstions of it like mean, median, std, max value etc. for each column.

In [11]:
df = pd.read_csv('iris.csv')
df.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

Here we are reading iris csv file and printing covariance of each column with each other or covariance matrix.

In [12]:
df = pd.read_csv('iris.csv')
print(df.cov())

              Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
Sepal.Length      0.685694    -0.042434      1.274315     0.516271
Sepal.Width      -0.042434     0.189979     -0.329656    -0.121639
Petal.Length      1.274315    -0.329656      3.116278     1.295609
Petal.Width       0.516271    -0.121639      1.295609     0.581006

Here we are reading iris csv file and printing correlation of each column with each other or correlation matrix.

In [13]:
print(df.corr())

              Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
Sepal.Length      1.000000    -0.117570      0.871754     0.817941
Sepal.Width      -0.117570     1.000000     -0.428440    -0.366126
Petal.Length      0.871754    -0.428440      1.000000     0.962865
Petal.Width       0.817941    -0.366126      0.962865     1.000000

Submitted By:
Sachin Rawat
RA1912039010003
M.Tech Big Data Analytics